html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    margin: 0;
    font-family: 'Coustard', cursive;
}

.index-section {
    background-image: url('img/background_top.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.index-section h1 {
    white-space: nowrap;
    padding: .5em;
    font-size: 6em;
    color: #f3ff66;
    font-family: sans-serif;
}

.container-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 5%;
}

.item {
    color: white;
    padding: 1em;
    margin: 1em;
}

.button {
    background-color: #f3ff66;
    padding: 1.5em 4.5em;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
}


.middle-section {
    padding: 2em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.bottom-section {
    background-image: url('img/background_bot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 100vh;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.planet {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #070511;
    height: 455px;
    width: 455px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
    transition: background-position ease 1.5s,
                box-shadow ease 1.5s;
}

.planet:hover {
    box-shadow: 0px 0px 10px 5px gray;
    background-position: 20px 20px;
}

.planet:nth-of-type(1) {
    background-image: url('img/mercury.png');
}

.planet:nth-of-type(2) {
    background-image: url('img/venus.png');
}

.planet:nth-of-type(3) {
    background-image: url('img/earth.png');
}

.planet:nth-of-type(4) {
    background-image: url('img/mars.png');
}

.planet:nth-of-type(5) {
    background-image: url('img/jupiter.png');
}

.planet:nth-of-type(6) {
    background-image: url('img/neptune.png');
}

.planet h4 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 2em;
    color: #f3ff66;
    background-color: black;
    padding: .25em;
    border-radius: 10px;
}
